.App {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  @include respond-to("large") {
    grid-template-columns: 4fr;
  }
}

.sideBar,
.mainBar {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  padding: 2rem 2rem;
}

/* sidebar */
.sideBar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $lightbg4;
  .profile {
    h4 {
      font-size: 25px;
      font-family: $sail !important;
    }
    .profile-img {
      width: 8vw;
      height: 8vw;
      border-radius: 50%;
      box-shadow: 0px 0px 20px $subHead;
    }
  }
  .navbar {
    ul {
      padding: 0;
    }
    ul li {
      font-family: $open;
      font-size: 18px;
      list-style: none;
      margin-top: 10px;
    }
    ul li a {
      text-decoration: none;
      color: $navLinks;
    }
  }
  .Social {
    display: flex;
    flex-direction: column;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    .social-one {
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      align-self: center;
      color: black;
      padding: 8px 8px;
      box-shadow: 9px 9px 25px #6c6c6c, -9px -9px 25px #ffffff;
      border-radius: 5px;
    }
    .other-social {
      ul {
        padding: 0;
      }
      ul li {
        font-family: $open;
        font-size: 25px;
        list-style: none;
        margin-top: 10px;
      }
    }
  }

  /* responsive breakpoint */
  @include respond-to("large") {
    display: none;
  }
}
